/* Write Your CSS Below 
Colors: 
- rgb(243, 183, 106)
- yellow
- rgb(241, 117, 0)
- red
- #f3b76a
- #f17500
- #0d6e00
- #6d00fb
- #dbff39
- #74c9f1
- #fb4040

Sizes: 
- 100%
- 70%
- auto
- 1.5em
- 3rem
- .5em

Font: 
- Copperplate (You can also use any font that you'd like!)

Images: 
- "https://i.pinimg.com/236x/d6/3f/56/d63f563519df0ece564b82c72e9e306c.jpg"
    - (You may use any image you would like for the background!)
*/
.balthazar-regular {
    font-family: "Balthazar", serif;
    font-weight: 400;
    font-style: normal;
}  

body {
    background-image: url(https://i.pinimg.com/236x/d6/3f/56/d63f563519df0ece564b82c72e9e306c.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /* Background */
    font-family: Balthazar;
}
/* This is so pixely I really don't like it */

.textbox {
    max-width: 50%;
    background-color: #74c9f1;
    border-radius: 1em;
    color: white;
    font-size: 1.5em;
    max-width: 50%;
    padding: 0.5em;
    border: red solid 1px;
}

.textbox > p > a {
    color: white;
}

#title-box {
    max-width: initial;
    background-image: linear-gradient(#74c9f1, red);
    text-align: center;
    color: black;
    font-size: initial;
    padding: initial;
    border: initial;
}

#row1 > div, #row2 > div {
    margin: 1em 0em;
}